<%@ taglib uri = "http://java.sun.com/jsp/jstl/core" prefix = "c" %>
<%@ taglib uri = "http://java.sun.com/jsp/jstl/functions" prefix = "fn" %>
<jsp:directive.page pageEncoding="UTF-8"/>
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <div class="card">            
        <div class="card-body">
            <h5 class="card-title">Погода в Краснодаре</h5>
            <div class="display-1" id="weather">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>                
        </div>
        </div>
    </div>    
</div>